<a href="https://colab.research.google.com/github/sadafshahab12/Practice-OOP-Class/blob/main/oop_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student Record

In [1]:
class Student():
  def __init__(self, name, roll_num):
    self.name = name
    self.roll_num = roll_num

  def display_info(self):
    print(f"Student Name: {self.name}, Roll Num: {self.roll_num}")

s1 = Student("Sadaf" , "20")
s1.display_info()

Student Name: Sadaf, Roll Num: 20

Object Counter

In [2]:
class User():
  user_count = 0

  def __init__(self):
    User.user_count +=1
  @classmethod
  def get_count(cls):
    print(f"Total User: {cls.user_count}")

u1 = User()
u2 = User()
u3 = User()
User.get_count()

Total User: 3

Bank Account

In [4]:
class BankAccount():
  def __init__(self, owner, balance, pin):
    self.owner = owner
    self._balance = balance
    self.__pin = pin

  def show_details(self):
    print(f"Owner: {self.owner} , Balance: {self._balance} , Pin: {self.__pin}")

b1 = BankAccount("Sadaf", 5000, 123456)
b1.show_details()

Owner: Sadaf , Balance: 5000 , Pin: 123456

AttributeError: 'BankAccount' object has no attribute '__pin'

 Shape → Rectangle

In [5]:
from abc import ABC, abstractmethod
class Shape(ABC):
  @abstractmethod
  def area():
    pass

class Rectangle(Shape):
  def __init__(self, width, height):
    self.width = width
    self.height = height
  def area(self):
    return self.width * self.height

r1 = Rectangle(10, 20)
r1.area()

200

Vehicle → Car

In [6]:
class Vehicle():
  def __init__(self, brand):
    self.brand = brand
class Car(Vehicle):
  def __init__(self, brand, model):
    self.model = model
    super().__init__(brand)
  def show_detail(self):
    print(f"Brand: {self.brand} , Model: {self.model}")

c1 = Car("Toyota" , "Corolla")
c1.show_detail()

Brand: Toyota , Model: Corolla

Calculator

In [10]:
class MathUtils():
  @staticmethod
  def add(a,b):
    return a + b
  def subtract(a,b):
    return a - b

add1 = MathUtils.add(5,10)
print(add1)
sub1 = MathUtils.subtract(5,5)
print(sub1)

15
0

Book Store

In [16]:
class Book():
  total_books = 0
  def __init__(self, title, author):
    self.title = title
    self.author = author
    Book.total_books += 1
  @classmethod
  def show_count(cls):
    print(f"Total Books: {cls.total_books}")

b1 = Book("The Alchemist" , "Paulo Coelho")
b2 = Book("The Alchemist" , "Paulo Coelho")
b3 = Book("The Alchemist" , "Paulo Coelho")
b4 = Book("The Alchemist" , "Paulo Coelho")
Book.show_count()

Total Books: 4

Car–Engine Composition

In [17]:
class Engine():
  def start(self):
    print("Engine is started")
class Car():
  def __init__(self, engine):
    self.engine = engine
  def start_car(self):
    self.engine.start()

e1 = Engine()
c1 = Car(e1)
c1.start_car()

Engine is started

Department–Employee Aggregation

In [18]:
class Employee():
  def __init__(self, name):
    self.name = name

class Department():
  def __init__(self,dept_name, employee):
    self.dept_name = dept_name
    self.employee = employee
  def show(self):
    print(f"Department Name: {self.dept_name}")
    print(f"Employee Name: {self.employee.name}")

emp1 = Employee("Sadaf")
d1 = Department("IT", emp1)
d1.show()

Department Name: IT
Employee Name: Sadaf

Logger Class

In [19]:
class Logger():
  def __init__(self):
    print("A constructor is created")
  def __del__(self):
    print("A destructor is created")

l1 = Logger()
del l1

A constructor is created
A destructor is created